In [1]:
# Autoreload extension
%load_ext autoreload
%autoreload 2

In [2]:
# Load geostacks
from geostacks import SpatialIndexLS8, GeoStacksUI

# Load S3 related module
from datetime import date

In [39]:
# ls8_index = SpatialIndexLS8('../../LANDSAT_8_C1_cornerpoints.csv')
# ls8_index.read()
# ls8_index.corner_pts_df

In [46]:
ls8 = SpatialIndexLS8()
ls8.data

,path,row,lat_CTR,lon_CTR,lat_UL,lon_UL,lat_UR,lon_UR,lat_LL,lon_LL,lat_LR,lon_LR
0,1,2,80.002493,-4.197763,81.205697,-2.730017,79.717460,2.594563,80.144957,-11.291900,78.789287,-5.405237
1,1,3,79.111023,-10.561457,80.332344,-9.994770,78.957946,-4.156684,79.130143,-17.075937,77.882976,-11.061501
2,1,4,78.118527,-15.970556,79.344246,-16.045440,78.079664,-10.018548,78.034189,-21.909139,76.886141,-15.950291
3,1,5,77.048224,-20.471403,78.269010,-20.978442,77.105158,-14.988030,76.879455,-25.870470,75.819367,-20.086304
4,1,6,75.902095,-24.338152,77.113394,-25.133782,76.041404,-19.307509,75.661913,-29.246411,74.680825,-23.697966
...,...,...,...,...,...,...,...,...,...,...,...,...
21898,233,242,80.008794,44.207091,80.154264,51.282248,78.799314,45.389529,81.215211,42.713538,79.726284,37.379350
21899,233,243,80.760793,36.728885,81.052819,44.273388,79.584925,38.823265,81.923478,34.042857,80.327864,29.693888
21900,233,244,81.338812,28.123821,81.798007,35.890003,80.221703,31.325044,82.424145,24.005498,80.744047,21.177876
21901,233,245,81.705630,18.551148,82.326232,26.541583,80.663323,23.323882,82.678136,12.476933,80.951763,11.702585
21902,233,248,81.338539,-11.314870,82.422114,-7.241076,80.742826,-4.410664,81.795931,-19.109458,80.218989,-14.542426

In [47]:
# query_pt = [-50., 69.]
idxs = ls8.query_pathrow(69, -50)   # lat, lon
# print(len(idxs.data.index))
ls8.data.loc[idxs.data.index]

,path,row,lat_CTR,lon_CTR,lat_UL,lon_UL,lat_UR,lon_UR,lat_LL,lon_LL,lat_LR,lon_LR
695,8,11,69.606470,-47.813174,70.756261,-49.045943,69.997303,-44.451408,69.154025,-51.050718,68.439813,-46.725544
696,8,12,68.279699,-49.506130,69.419648,-50.743468,68.700888,-46.367352,67.801954,-52.529493,67.122236,-48.403704
782,9,11,69.606482,-49.355231,70.757156,-50.589565,69.997520,-45.990513,69.153716,-52.595528,68.438861,-48.266305
783,9,12,68.279697,-51.046291,69.420484,-52.285488,68.700913,-47.904523,67.801817,-54.072478,67.121321,-49.942257
866,10,11,69.606439,-50.895321,70.756467,-52.132700,69.996319,-47.530333,69.154836,-54.136166,68.439445,-49.803544
6845,81,233,69.606467,-48.202833,69.158069,-44.965508,68.442808,-49.295142,70.763699,-46.977141,70.002875,-51.580448
6915,82,233,69.606440,-49.749759,69.160805,-46.513479,68.444886,-50.847126,70.761497,-48.518743,70.000130,-53.125468
7017,83,232,68.279726,-49.604053,67.806027,-46.581815,67.125546,-50.709373,69.426907,-48.374276,68.706648,-52.756036
7018,83,233,69.606447,-51.293647,69.158697,-48.052981,68.442311,-52.389424,70.764101,-50.064050,70.002091,-54.674559
7087,84,232,68.279691,-51.145138,67.808695,-48.124313,67.127863,-52.255251,69.424457,-49.910379,68.703970,-54.294948

# GeoStacks UI

In [6]:
cpanel = GeoStacksUI(spatial_index=ls8)
cpanel.gen_ui()

AppLayout(children=(VBox(children=(HTML(value='<h2>Drag the marker to your region of interest</h2>'), Select(dâ€¦

Check the index number of the path/row selection:

In [7]:
cpanel.pr_selection

695

# Query the LS8 S3 bucket

In [50]:
scene_list = ls8.search_s3([695, 696, 782])  # 008/011, 008/012, and 009/011 
scene_list

,path,row,prefix,acq_time,prc_time,tier
0,8,11,c1/L8/008/011/LC08_L1TP_008011_20130319_201705...,2013-03-19,2017-05-05,T1
1,8,11,c1/L8/008/011/LC08_L1TP_008011_20130522_201705...,2013-05-22,2017-05-04,T1
2,8,11,c1/L8/008/011/LC08_L1TP_008011_20130826_201705...,2013-08-26,2017-05-02,T1
3,8,11,c1/L8/008/011/LC08_L1TP_008011_20130927_201705...,2013-09-27,2017-05-02,T1
4,8,11,c1/L8/008/011/LC08_L1TP_008011_20131013_201704...,2013-10-13,2017-04-29,T1
...,...,...,...,...,...,...
469,9,11,c1/L8/009/011/LC08_L1TP_009011_20210316_202103...,2021-03-16,2021-03-28,T1
470,9,11,c1/L8/009/011/LC08_L1TP_009011_20210417_202104...,2021-04-17,2021-04-17,RT
471,9,11,c1/L8/009/011/LC08_L1TP_009011_20210417_202104...,2021-04-17,2021-04-24,T1
472,9,11,c1/L8/009/011/LC08_L1TP_009011_20210503_202105...,2021-05-03,2021-05-03,RT
473,9,11,c1/L8/009/011/LC08_L1TP_009011_20210503_202105...,2021-05-03,2021-05-08,T1

In [55]:
selection = scene_list.loc[scene_list['acq_time'] > date(2021, 3, 1)]
selection = selection.sort_values(by=['acq_time', 'path', 'row'])
selection

,path,row,prefix,acq_time,prc_time,tier
132,8,11,c1/L8/008/011/LC08_L1TP_008011_20210309_202103...,2021-03-09,2021-03-09,RT
133,8,11,c1/L8/008/011/LC08_L1TP_008011_20210309_202103...,2021-03-09,2021-03-17,T1
300,8,12,c1/L8/008/012/LC08_L1TP_008012_20210309_202103...,2021-03-09,2021-03-09,RT
301,8,12,c1/L8/008/012/LC08_L1TP_008012_20210309_202103...,2021-03-09,2021-03-17,T1
468,9,11,c1/L8/009/011/LC08_L1TP_009011_20210316_202103...,2021-03-16,2021-03-16,RT
469,9,11,c1/L8/009/011/LC08_L1TP_009011_20210316_202103...,2021-03-16,2021-03-28,T1
134,8,11,c1/L8/008/011/LC08_L1TP_008011_20210325_202103...,2021-03-25,2021-03-25,RT
135,8,11,c1/L8/008/011/LC08_L1TP_008011_20210325_202104...,2021-03-25,2021-04-02,T1
302,8,12,c1/L8/008/012/LC08_L1TP_008012_20210325_202103...,2021-03-25,2021-03-25,RT
303,8,12,c1/L8/008/012/LC08_L1TP_008012_20210325_202104...,2021-03-25,2021-04-02,T1
470,9,11,c1/L8/009/011/LC08_L1TP_009011_20210417_202104...,2021-04-17,2021-04-17,RT
471,9,11,c1/L8/009/011/LC08_L1TP_009011_20210417_202104...,2021-04-17,2021-04-24,T1
136,8,11,c1/L8/008/011/LC08_L1TP_008011_20210426_202104...,2021-04-26,2021-04-26,RT
137,8,11,c1/L8/008/011/LC08_L1TP_008011_20210426_202105...,2021-04-26,2021-05-01,T1
304,8,12,c1/L8/008/012/LC08_L1TP_008012_20210426_202104...,2021-04-26,2021-04-26,RT
305,8,12,c1/L8/008/012/LC08_L1TP_008012_20210426_202105...,2021-04-26,2021-05-01,T1
472,9,11,c1/L8/009/011/LC08_L1TP_009011_20210503_202105...,2021-05-03,2021-05-03,RT
473,9,11,c1/L8/009/011/LC08_L1TP_009011_20210503_202105...,2021-05-03,2021-05-08,T1
138,8,11,c1/L8/008/011/LC08_L1TP_008011_20210512_202105...,2021-05-12,2021-05-12,RT
306,8,12,c1/L8/008/012/LC08_L1TP_008012_20210512_202105...,2021-05-12,2021-05-12,RT